@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'IranYekan';
  src: url('./../fonts/IranYekan/IRANYekanFN.eot');
  src: url('./../fonts/IranYekan/IRANYekanFN.eot?#iefix') format('embedded-opentype'),
  url('./../fonts/IranYekan/IRANYekanFN.woff2') format('woff2'),
  url('./../fonts/IranYekan/IRANYekanFN.woff') format('woff'),
  url('./../fonts/IranYekan/IRANYekanFN.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  font-size: 16px;
}


.section {
  padding: 100px 0;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .title {
    position: relative;

    h2 {
      text-align: center;
      font-size: 40px;
      font-weight: 500;
      margin-bottom: 60px;
      padding-bottom: 20px;
    }
  }

  .line {
    z-index: 0;
    width: 175px;
    height: 3px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: var(--white);
  }

  .subTitle {
    z-index: 2;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: var(--red) !important;
    text-align: center;
    font-size: 20px;
    bottom: -8px;
    padding: 0 8px;
  }
}



.section:nth-child(even) {
  background: var(--white);

  .description, .sub-title {
    color: var(--black);
  }

  .title {
    h2 {
      color: var(--black);
    }

    .line {
      background: var(--black);
    }

    .subTitle {
      background: var(--white);
    }
  }

  p {
    color: var(--black);
  }
}

.section:nth-child(odd) {
  background: var(--bgBlack);

  .description, .sub-title {
    color: var(--white);
  }

  .title {
    h2 {
      color: var(--white);
    }

    .line {
      background: var(--white);
    }

    .subTitle {
      background: var(--bgBlack);
    }
  }

  p {
    color: var(--white);
  }
}


.icon {
  font-size: 50px;
  color: var(--red);
  transition: color 0.3s ease;

}

@layer components {
  .button {
    @apply h-11 bg-red text-xl text-white flex items-center justify-center cursor-pointer border border-red rounded-md py-2.5 px-7 outline-none
    sm:w-full
    hover:text-red hover:bg-transparent
    transition-all duration-300 ease-in
  }

  .myInputs {
    @apply w-full mb-4 p-3 text-right rtl text-base outline-none border border-lightgray  rounded-lg
  }

  .field {
    @apply flex justify-center items-center gap-5 sm:flex-col sm:gap-0
  }

  .appContainer {
    @apply w-full flex flex-col justify-center items-center
  }

  .description {
    @apply rtl text-justify mb-5 leading-7
  }

  .buttonContainer {
    @apply w-full flex justify-end
  }

  .myServiceContainer {
    @apply w-full grid grid-cols-3 gap-x-5
    md:gap-y-2.5 md:grid-cols-1 md:justify-center md:items-center
  }
  .myProjectsContainer {

    @apply w-full grid grid-cols-2 gap-12
    md:grid-cols-1
  }
  .sub-title {
    @apply rtl text-right text-3xl font-bold mb-2.5 md:text-lg
  }
}

@layer utilities {
  .rtl {
    direction: rtl;
  }
}





.inside {
  width: 83.34%;
  max-width: 1200px;
}

@media screen and (max-width: 1040px) {
  .inside {
    width: 95% !important;
    padding: 0 16px;
  }
}

@media screen and (max-width: 768px) {

  .inside {
    width: 100% !important;
    padding: 0 8px;
  }
  .section {
    padding: 50px 0;
  }
}


@media screen and (max-width: 576px) {
  .inside {
    width: 100% !important;
    padding: 0 8px;
    overflow-x: hidden;
  }
}